boxes.py
discount.py
heartrate.py
test.py
tire_volume.py
volumes.txt
tire_volume.py
mpg.py
fitness.py
draw2d.py
scene.py
cone_volume.py
can_sizes.py
names.py
_pycache_
draw2d.cpython-310.pyc
test2.py
words.py
test_words.py
test_names.py
sentences.py
test_sentences.py
example.py
esteem.py
old_esteem.py
pass_args.py
random_numbers.py
test_random_numbers.py
chemistry.py
test_chemistry_1.py
test_chemistry_2.py
vehicles.py
family_history.py
provinces.py
provinces.txt
students.csv
students.py
products.csv
request.csv
receipt.py
test_products.py